<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang nhập phòng</title>
</head>
<body>
    <h1>Nhập số phòng</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Xác nhận</button>
    </form>
    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}

    <br><hr><br>
        <a href="{% url 'room_registering_page:create_owner_and_room' %}" class="btn btn-primary">Tạo phòng mới</a>

</body>
</html>
